<div class="container" [ngClass]="{'container-dark': darkMode}">


    <div class="background-gradient__circle" [ngClass]="{'background-gradient__circle-dark': darkMode}"></div>

    <img class="back__button" src="/./assets/city-back-button.svg" (click)="backHome()"/>

    <section class="main-weather__card">
      <section class="card-header__container-dark">

        <img class="city__illustration" [src]="cityIllustrationPath" />

        <div class="header-content__wrapper">

          <ng-container *ngIf="weather$ | async as weatherState">
          <div class="today-weather__container">
            <div class="temp-state__container">
              <span class="temperature__text">{{weatherState.temp}}°</span>
              <span class="weather-state__text">{{weatherState.state}}</span>
            </div>
            <div class="hum-wind__container">
              <div class="hum__container">
                <span class="hum__text">Max</span>
                <span class="hum-value__text">{{weatherState.max}}°</span>
              </div>
              <div class="hum-wind__separator">&nbsp;</div>
              <div class="wind__container">
                <span class="wind__text">Min</span>
                <span class="wind-value__text">{{weatherState.min}}°</span>
              </div>
            </div>
          </div>
          </ng-container>

          <ng-container *ngIf="city$ | async as cityState">
          <div class="city-name__container">
            <div class="city-name__underline">
              <span class="city-name__text">{{cityState.name}}</span>
            </div>
          </div>
          </ng-container>

        </div>
      </section>

      <main class="body-content__wrapper">
        <section class="forecast__container">




          <div class="day-weather__container" *ngFor="let day of forecast$ | async">
            <span class="day-name__text">SAB</span>

            <app-weather-icon state="RAIN"></app-weather-icon>

            <span class="day-temp__text">99°</span>
            <span class="day-state__text">CHUVA</span>
          </div>
        </section>
      </main>
    </section>

</div>
