<!-- login form -->
<div class="container">
  <form class="form" #signupform="ngForm" (ngSubmit)="signup(signupform)">
    <input ngModel type="text" autofocus placeholder="Nome" name="name" class="input" required />
    <input ngModel type="email" autofocus placeholder="Email" name="email" class="input" required />
    <input ngModel type="password" placeholder="Senha" name="password" class="input" minlength="3" required />
    <input
      ngModel
      type="password"
      placeholder="Confirmar Senha"
      name="confirmPass"
      class="input"
      minlength="3"
      required
    />
    <input
      type="submit"
      name="submit"
      value="Cadastrar"
      class="btn"
      [class.btn-disabled]="!signupform.form.valid"
      [disabled]="!signupform.form.valid"
    />
  </form>
</div>
