<!-- login form -->
<div class="container">
  <form class="form" (ngSubmit)="signup($event)" #authform="ngForm">
    <input
      ngModel
      type="text"
      autofocus
      placeholder="Nome"
      name="email"
      class="input"
      required
    />
    <input
      ngModel
      type="email"
      autofocus
      placeholder="Email"
      name="email"
      class="input"
      required
    />
    <input
      ngModel
      type="password"
      placeholder="Password"
      name="password"
      class="input"
      minlength="6"
      required
    />
    <input
      ngModel
      type="password"
      placeholder="Confirm Password"
      name="confirmPass"
      class="input"
      minlength="6"
      required
    />
    <input
      type="submit"
      name="submit"
      value="Signup"
      class="btn"
      [class.btn-disabled]="!authform.form.valid"
      [disabled]="!authform.form.valid"
    />
  </form>
</div>
