<div class="container">
  <div class="add-wrapper">
    <section class="main-card">
      <div class="city-search-wrapper">
        <div class="city-search-header">
          <h3 class="city-search-title">SEARCH CITIES</h3>
          <div class="search-city-input-wrapper">
            <form class="example-form">
              <input
                #input
                class="search-city-input"
                placeholder="Pesquisar"
                type="text"
                matInput
                [formControl]="formControl"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="selectOption($event)"
                [displayWith]="displayFn"
              >
                <mat-option
                  *ngFor="let cidade of filteredCities | async"
                  [value]="cidade"
                >
                  {{ cidade.name }}
                </mat-option>
              </mat-autocomplete>
            </form>

            <button class="search-city-btn" (click)="pesquisarCidades()">
              <!-- search-icon -->
            </button>
          </div>
        </div>

        <div class="city-search-body">
          <!-- APP WEATHER CARD  -->
          <city-card></city-card>
          <city-card></city-card>
          <city-card></city-card>
          <city-card></city-card>
        </div>
      </div>

      <div class="fav-city-wrapper">
        <img class="fav-city-image" />
        <div class="fav-city-image-overlay"></div>

        <div class="fav-city-header">
          <h3 class="fav-city-title">CITY OF THE MONTH</h3>
          <hr class="fav-city-hr" />
          <span class="fav-city-date">Sunday, 31th July</span>
        </div>

        <div class="fav-city-body">
          <div class="fav-city-body-subwrapper">
            <div class="fav-weather-icon" [ngSwitch]="true"></div>

            <div class="fav-city-info">
              <span class="fav-city-temp">36°</span>
              <div class="fav-city-name-wrapper">
                <span class="fav-city-name">FAVORITA</span
                ><span class="fav-city-country">IT</span>
              </div>
              <span class="fav-city-state">CLOUDS</span>
            </div>
            <button class="fav-city-add-btn">
              {{ true ? "FOLLOWED" : "FOLLOW" }}
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
