<div class="container">
  <div class="add-wrapper">
    <section class="main-card">
      <div class="city-search-wrapper">
        <div class="city-search-header">
          <h3 class="city-search-title">SEARCH CITIES</h3>
          <div class="search-city-input-wrapper">
            <form class="example-form">
              <input
                #input
                class="search-city-input"
                placeholder="Pesquisar"
                type="text"
                matInput
                [formControl]="formControl"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="selectOption($event)"
                [displayWith]="displayFn"
              >
                <mat-option *ngFor="let cidade of filteredCities | async" [value]="cidade">
                  {{ cidade.name }}
                </mat-option>
              </mat-autocomplete>
            </form>

            <button class="search-city-btn" (click)="pesquisarCidades()">
              <img class="search-icon icon" src="assets/search-icon.svg" />
            </button>
          </div>
        </div>

        <div class="city-search-body">
          <!-- APP WEATHER CARD  -->
          <app-city-card></app-city-card>
          <app-city-card></app-city-card>
          <app-city-card></app-city-card>
        </div>
      </div>

      <div class="fav-city-wrapper">
        <img class="fav-city-image" [src]="suggested.city_picture.regular" />
        <div class="fav-city-image-overlay"></div>

        <div class="fav-city-header">
          <h3 class="fav-city-title">Cidade do Mês</h3>
          <hr class="fav-city-hr" />
          <span class="fav-city-date">Sunday, 31th July</span>
        </div>

        <div class="fav-city-body">
          <div class="fav-city-body-subwrapper">
            <div class="fav-weather-icon">
              <app-weather-icon [state]="suggested.state"></app-weather-icon>
            </div>

            <div class="fav-city-info">
              <span class="fav-city-temp">{{ suggested.temp }}</span>
              <div class="fav-city-name-wrapper">
                <span class="fav-city-name">{{ suggested.city.name }}</span
                ><span class="fav-city-country">{{ suggested.city.country }}</span>
              </div>
              <span class="fav-city-state">{{ suggested.state }}</span>
            </div>
            <button class="fav-city-add-btn" *ngIf="true">
              Adicionar Cidade
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
