.card {
  background-color: white;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  padding: 2rem;
  margin: 2rem;
  width: 16rem;
  height: 28rem;
  cursor: pointer;
  border-radius: 1.75rem;
  animation: slideup 1s ease-in-out, fadein 1.25s ease-in-out 0ms 1;
  color: #443282;
}

.card.dark {
  background: linear-gradient(to bottom, #372865, #000000);
  color: white;
}

.city-name {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.temperature {
  align-self: end;
  width: 100%;
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
}

.temperature-metric {
  text-align: start;
  font-size: 3rem;
}

.min-max-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.temp-container {
  margin: 1rem 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.temp-arrow {
  height: 1.25rem;
  margin: auto;
}

.temp-arrow.max-arrow {
  margin-bottom: -0.05rem;
}

.weather-condition {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
}

.max-text {
  color: #ff0070;
}

.min-text {
  color: #00ff9b;
}

.max-text,
.min-text {
  font-size: 1rem;
  text-align: center;
}

.temperature-text {
  text-align: center;
  font-size: 2rem;
}

.weather-icon-container {
  width: 10rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.add-city-btn {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  padding: 1rem 2rem;
  color: white;
  margin-top: 2rem;
  background-color: #2b244d;
  font-size: 1rem;
  font-weight: bold;
}

.add-city-btn:hover {
  background-color: #31feae;
}
