<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="drawermenu.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="title">{{ title }}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="drawer-container" autosize>
    <mat-sidenav
      #drawermenu
      mode="over"
      [(opened)]="opened"
      (opened)="events.push('open!')"
      (closed)="events.push('close!')"
      fixedTopGap="56"
    >
      <h1>Sidenav content</h1>
      <mat-nav-list>
        <div *ngFor="let e of events">{{ e }}</div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
