<div class="container">
  <div class="add-wrapper">
    <section class="main-card">
      <div class="city-search-wrapper">
        <div class="city-search-header">
          <h3 class="city-search-title">Buscar Cidades</h3>
          <div class="search-city-input-wrapper">
            <form class="example-form">
              <input
                #input
                class="search-city-input"
                placeholder="Busca uma cidade pelo seu nome"
                type="text"
                matInput
                [formControl]="formControl"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="selectOption($event)"
                [displayWith]="displayFn"
              >
                <mat-option *ngFor="let cidade of filteredCities | async" [value]="cidade">
                  {{ cidade.name }}
                </mat-option>
              </mat-autocomplete>
            </form>

            <ng-container *ngIf="stateCityWeather | async as state">
              <ng-container *ngIf="state.weather">
                <button class="search-city-btn" (click)="clearOption()">
                  <mat-icon class="icon clear-icon" inline="true">clear</mat-icon>
                </button>
              </ng-container>
            </ng-container>

          </div>
        </div>

        <div class="city-search-body">
          <ng-container *ngIf="stateCityWeather | async as state">
            <ng-container *ngIf="state.weather as weather">
              <app-city-card [weather]="weather"></app-city-card>
            </ng-container>
            <ng-container *ngIf="state.loading">
              <div class="city-loading">
                <mat-spinner></mat-spinner>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="fav-city-wrapper">
        <ng-container *ngIf="state$ | async as state">
          <ng-container *ngIf="state.suggested as suggested">
            <ng-container *ngIf="suggested.city_picture as picture">
              <img class="fav-city-image" [src]="picture.regular" />
            </ng-container>
            <div class="fav-city-image-overlay"></div>

            <div class="fav-city-header">
              <h3 class="fav-city-title">Cidade do Mês</h3>
              <hr class="fav-city-hr" />
              <span class="fav-city-date">Sunday, 31th July</span>
            </div>

            <div class="fav-city-body">
              <div class="fav-city-body-subwrapper">
                <div class="fav-weather-icon">
                  <app-weather-icon [state]="suggested.state"></app-weather-icon>
                </div>

                <div class="fav-city-info">
                  <span class="fav-city-temp">{{ suggested.temp }}</span>
                  <div class="fav-city-name-wrapper">
                    <span class="fav-city-name">{{ suggested.city.name }}</span
                    ><span class="fav-city-country">{{ suggested.city.country }}</span>
                  </div>
                  <span class="fav-city-state">{{ suggested.state }}</span>
                </div>
                <button class="fav-city-add-btn" *ngIf="!state.addedSuggested" (click)="addSuggested()">
                  Adicionar Cidade
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </section>
  </div>
</div>
