.slide-menu-container {
  min-height: 100%;
  width: 100%;
  max-width: 26rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 4fr 1fr;
  grid-gap: 1rem;
  box-sizing: border-box;
}

.menu-header {
  background: linear-gradient(to right, #00ff9b, #5f84fb);
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "greeting greeting" "image details";
  box-sizing: border-box;
  width: 100%;
  align-content: center;
  color: white;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);
}

.menu-header-dark {
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.greeting {
  grid-area: greeting;
  font-size: 14px;
  letter-spacing: 0.15rem;
  margin-top: 1rem;
  justify-self: center;
  align-self: center;
}

.account-details {
  grid-area: details;
  display: flex;
  flex-flow: column;
  margin-left: 1rem;
  align-self: center;
}

.name {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

.email {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.menu-body {
  display: grid;
  padding: 8px;
  padding-left: 40px;
}

.menu-links {
  display: flex;
  flex-flow: column;
}

.menu-links-dark {
  color: white;
}

.link-active {
  color: #495cfc;
  border-bottom: 1px solid #495cfc;
}

.menu-link {
  outline: none;
  font-size: 1rem;
  padding: 1rem 0;
  margin: 0.5rem 0;
  cursor: pointer;
}

.profile-container {
  grid-area: image;
  margin-right: 0.5rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  align-self: center;
  margin-left: 2rem;
}

.profile-image {
  max-width: 4rem;
}

.copyright {
  display: block;
  text-align: center;
  margin-top: 20px;
}
